 
 .header {
     border-bottom: 1px solid #ececec;
 }

 .header>.container {
     display: flex;
     align-items: center;
 }

 .header-menu {
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 16px;
 }


 .contacts-header {
     display: flex;
     gap: 40px;
     margin-left: auto;
     align-items: center;
 }


 .contacts-header a {
     align-items: center;
     display: flex;
     font-family: "Roboto";
     font-style: normal;
     font-weight: 500;
     font-size: normal;
     line-height: 16px;
     letter-spacing: 0.02em;

     color: var(--primary-text-color);
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contacts-header a:hover,
 .contacts-header a:focus {
     color: var(--text-hover-color);
 }


 .header-item {
     display: flex;
     position: relative;
 }

 .nav {
    display: flex;
 }

 .site-nav {
     display: flex;
     align-items: center;
     gap: 50px;
 }


 .site-nav .link {
     padding-top: 32px;
     padding-bottom: 32px;
     font-weight: 500;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.02em;
     text-decoration: none;

     color: var(--text-color);
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .site-nav .link:hover,
 .site-nav .link:focus {
     color: var(--text-hover-color);
 }

 .site-nav .active.link {
     color: var(--text-hover-color);
 }

 .contacts-icon {
     fill: currentColor;
     margin-right: 10px;
 }

 .container-icon {
     width: 270px;
     height: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #f5f4fa;
     border-radius: 4px;
     margin-bottom: 30px;
 }
